@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.birthday_info {
  font-family: 'Roboto', sans-serif;
  height: 150px;
  width: 400px;
  border-radius: 10px;
  padding: 10px;
  background-color: #111827;
  color: #fcea10;
  letter-spacing: 1px;
}
